/* https://www.generateit.net/css-ribbon-generator/ */
.ribbon {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px !important;
  position: relative;
  text-align: center;
  width: 100%;
  background: #ca201e;
}

.ribbon p {
  font-size: 25px !important;
  color: #ffffff;
  text-shadow: white 1px 1px 0;
  margin: 0px;
  padding: 15px 10px;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  z-index: -1;
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border: 1.5em solid #e12320;
  border-left-color: transparent;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border: 1.5em solid #e12320;
  border-right-color: transparent;
}

.ribbon-content {
  text-transform: uppercase;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: "";
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  border-color: #5d0f0e transparent transparent transparent;
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
