.game-profile-name-dice {
  margin: 8px 0;
  width: 100%;
  display: flex;
  height: 20px;
}

.game-profile-name {
  color: white;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 0px 3px black;
  transition: all 500ms ease;
  white-space: nowrap;
  width: 150px;
}

.game-profile-name.has-turn {
  opacity: 1;
}

.game-profile-dices {
  display: flex;
  align-items: center;
  gap: 5px;
}
